* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.learn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div.button {
    padding: 2rem;
}
button {
    padding: 0.5rem;
    border-radius: 5px;
    background: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 1rem 2rem;
    margin: 2rem;
}
button:hover {
    background: rgb(236, 231, 231);
}
span {
    color: teal;
}